[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-aiplatform = "*"
google-cloud-storage = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
kfp = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.11"
